{% extends 'base.html' %}

{% block content %}

<div class="row m-1 py-2 px-3">
    <div class="col mx-auto">
        <form action="{{ url_for('index') }}" method="POST"
            class="row bg-white rounded shadow-sm align-items-center justify-content-center">
            <div class="col">
                <input type="url" class="form-control border-0 bg-transparent rounded" id="urlId"
                    name="url" placeholder="URL" aria-label="URL">
            </div>
            <div class="col-auto px-0 mx-0 me-2 my-2">
                <button type="button" class="btn btn-primary">Fetch</button>
            </div>
        </form>
    </div>
</div>

{% if stream %}
<div class="row m-1 py-2 px-1">
    <div class="col mx-auto">
        <div class="card card-purple">
            <div class="card-header">
                <h5 class="card-title">{{ stream.title }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div class="row">
                        <div class="col">
                            URL
                        </div>
                        <div class="col-md-10">
                            <a href="{{ stream.url }}">{{ stream.url }}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            Extension
                        </div>
                        <div class="col-md-10">
                            {{ stream.ext }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            Extractor
                        </div>
                        <div class="col-md-10">
                            {{ stream.extractor }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            Source URL
                        </div>
                        <div class="col-md-10">
                            <a href="{{ stream.webpage_url }}">{{ stream.webpage_url }}</a>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% if history %}
<div class="row m-1 py-2 px-1">
    <div class="col mx-auto">
        <div class="list-group">
            {% for entry in history %}
            <a href="{{ url_for('index', url=entry.webpage_url) }}"
                class="list-group-item list-group-item-action">{{ entry.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}