{% extends 'base.html' %}

{% block content %}
<div class="row m-1 py-2 px-3">
    <div class="col mx-auto">
        <form action="{{ url_for('serie.search') }}" method="POST"
            class="row bg-white rounded shadow-sm align-items-center justify-content-center">
            <div class="col">
                <input type="text" class="form-control border-0 bg-transparent rounded" id="name" name="name"
                    placeholder="Name" aria-label="Name">
            </div>
            <div class="col-auto px-0 mx-0 me-2 my-2">
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

{% if results %}
<div class="row m-1 py-2 px-1">
    <div class="col mx-auto">
        <div class="list-group">
            {% for result in results %}
            <form action="{{ url_for('serie.add') }}" method="POST" class="list-group-item">
                <div class="row">
                    {% if result['poster_path'] %}
                    <div class="col-auto">
                        <img src="https://www.themoviedb.org/t/p/w130_and_h195_bestv2/{{ result['poster_path'] }}">
                    </div>
                    {% endif %}

                    <div class="col">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ result['name'] }}</h5>
                            
                            <input type="hidden" id="tmdb_id" name="tmdb_id" value="{{ result['id'] }}">
                            <input type="hidden" id="tmdb_name" name="tmdb_name" value="{{ result['name'] }}">
                            <input type="hidden" id="tmdb_overview" name="tmdb_overview" value="{{ result['overview'] }}">
                            <input type="hidden" id="tmdb_poster" name="tmdb_poster" value="https://www.themoviedb.org/t/p/w130_and_h195_bestv2/{{ result['poster_path'] }}">

                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                        <p class="mb-1">{{ result['overview'] }}</p>
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}